body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f7f9fc;
    line-height: 1.6;
}

.achievements-header {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.achievements-header h1 {
    margin: 0;
    font-size: 26px;
    color: #007bff;
}

.achievements-header p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.achievements-content {
    margin-top: 20px;
}

.achievements-content h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

.objective {
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.objective:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.objective h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.toggle-details {
    margin-bottom: 10px;
    cursor: pointer;
    color: #007bff;
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    transition: color 0.3s ease;
}

.toggle-details:hover {
    color: #0056b3;
}

.workplan-details {
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}

.kpi-section, .achievement-section {
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.kpi-section p, .achievement-section p {
    margin: 10px 0;
    font-size: 16px;
    color: #444;
}

.achievement-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 15px;
}

.delete-btn, .edit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
}

.delete-btn:hover {
    background-color: #e43a3a;
}

.edit-btn {
    background-color: #f0f0f0;
    color: black;
}

.edit-btn:hover {
    background-color: #e0e0e0;
}

.add-achievement-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-achievement-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}
