@page "/achievements"
@inject NavigationManager Navigation;

<div class="achievements-header par-card">
    <h1>Achievements</h1>
    <p>NRS Workplan</p>
    <br>
    <p><strong>Username:</strong> ADEMOLA Patrick</p>
</div>
<div class="achievements-content par-card">
    <h2>List of Workplan Objectives - 2024</h2>
    <div class="objective">
        <h3>1. Contribute my quota to the achievement of the goals of my department.</h3>
        <button @onclick="(()=>showDetails = !showDetails)" class="toggle-details">Show workplan details</button>

        @if (showDetails)
        {
            <div class="workplan-details">
                <div class="kpi-section">
                    <p><strong>KPI Text:</strong> Complete assigned departmental tasks and projects with a minimum accuracy rate of 90% and within the allocated deadlines.</p>
                    <p><strong>KPI Activity:</strong> Collaborate effectively with team members on project tasks, attend all departmental meetings, provide regular progress updates, and submit all deliverables on or before the deadlines.</p>
                </div>
                <div class="achievement-section">
                    <p><strong>Achievement:</strong> Completed Workplan</p>
                    <p><strong>Comment:</strong> None</p>
                    <div class="buttons">
                        <button class="delete-btn">Delete</button>
                        <button class="edit-btn" @onclick="(()=>NavigateToEditAchievement())">Edit</button>
                    </div>
                </div>
            </div>
        }
        
        <button class="add-achievement-button">Add achievement to "Contribute my quota to the achievement..."</button>
    </div>
    <div class="objective">
        <h3>2. Enhance the efficiency and effectiveness of the IT department</h3>
        <button class="toggle-details">Show workplan details</button>
        <button class="add-achievement-button">Add achievement to "Enhance the efficiency and effectiveness..."</button>
    </div>
    <div class="objective">
        <h3>3. Enhance Employee Engagement and Satisfaction</h3>
        <button class="toggle-details">Show workplan details</button>
        <button class="add-achievement-button">Add achievement to "Enhance Employee Engagement..."</button>
    </div>
</div>

@code {
    private bool showDetails = true;

    private void NavigateToEditAchievement()
    {
        Navigation.NavigateTo("/edit-achievement");
    }
}
