@page "/add-kpis"
<div class="record-header par-card">
    <h1>Workplan Details - Add KPIs</h1>
    <p>NRS Workplan</p>
    <br>
    <p><strong>Username:</strong> ADEMOLA Patrick</p>
</div>
<form class="add-kpis-form par-card">
    <label for="kpi">Key Performance Indicators (KPI) (250 words max):</label>
    <Editor ScriptSrc="/tinymce/js/tinymce/tinymce.min.js"/>
    <br>
    <label for="activity">Activity for this KPI (250 words max):</label>
    <Editor ScriptSrc="/tinymce/js/tinymce/tinymce.min.js" />
    <br>
    <label for="milestone1">Milestone 1st Qtr (250 words max):</label>
    <Editor ScriptSrc="/tinymce/js/tinymce/tinymce.min.js" />
    <br>
    <label for="milestone2">Milestone 2nd Qtr (250 words max):</label>
    <Editor ScriptSrc="/tinymce/js/tinymce/tinymce.min.js" />
    <br>
    <label for="milestone3">Milestone 3rd Qtr (250 words max):</label>
    <Editor ScriptSrc="/tinymce/js/tinymce/tinymce.min.js" />
    <br>
    <label for="milestone4">Milestone 4th Qtr (250 words max):</label>
    <Editor ScriptSrc="/tinymce/js/tinymce/tinymce.min.js" />
    <br>
    <div class="form-actions">
        <button type="button" class="cancel-button">Cancel</button>
        <button type="submit" class="update-button">Update</button>
    </div>
</form>

@code {

}
