@page "/appraisee-view-pdf"

<div style="margin-bottom:20px;" class="par-card">
    <p> ADEMOLA Patrick on behalf of AUSTIN Matthew.</p>
</div>
<div class="pdf-header par-card">
    <h1>View My PDFs</h1>
    <p>NRS Workplan</p>
    <hr />
    <p><strong>Username:</strong> AUSTIN Matthew</p>
</div>
<div class="pdf-content par-card">
    <h2>Workplans for AUSTIN Matthew</h2>
    <p>💡 Click a link below to generate a PDF.</p>
    <div class="pdf-buttons">
        <button>View Workplan for 2023</button>
        <button>View Workplan for 2024</button>
        <button>View Workplan for 2025</button>
    </div>
    <h2>PAR Achievement Report for AUSTIN Matthew</h2>
    <div class="pdf-buttons">
        <button>View Report for 2023</button>
        <button>View Report for 2024</button>
        <button>View Report for 2025</button>
    </div>
</div>

@code {

}