
.container {
    width: 900px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
}

.header {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .header h1 {
        margin: 0;
        font-size: 24px;
    }

    .header p {
        margin: 5px 0;
    }

.contact-info {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.actions {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    vertical-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding-left: 20px;
}

.add-workplan .button, .year-selector select {
    padding: 10px;
    font-size: 14px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
}

.year-selector {
    text-align: center;
    border: 1px solid #ddd;
}

.workplan-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-direction: row;
}

.objectives {
    width: 60%;
}

    .objectives h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

.objective {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

    .objective p {
        margin: 0;
    }

    .objective .button {
        padding: 5px 10px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #f1f1f1;
    }

.approval-section {
    width: 35%;
}

.approval-status, .action-logs {
    margin-bottom: 20px;
}

.approval-status {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px;
}

.text-area {
    width: 50px;
}

.approval-status p {
    font-size: 14px;
    margin-bottom: 10px;
}

.approval-status textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submit-button {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f1f1f1;
    margin-top: 10px;
}

.action-logs h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.action-logs table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.action-logs th, .action-logs td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.action-logs th {
    background-color: #f9f9f9;
}

.action-logs {
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px;
}
