.record-header {
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

    .record-header h1 {
        margin: 0;
        font-size: 22px;
    }

    .record-header p {
        margin: 5px 0;
        font-size: 14px;
        color: #555;
    }

.record-details {
    margin-top: 20px;
}

    .record-details p {
        margin: 5px 0;
        font-size: 14px;
    }

    .record-details label {
        margin-right: 10px;
        font-size: 14px;
    }

#workplan-year {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.import-section {
    margin-top: 20px;
    height: 200px;
    padding: auto;
    text-align: left;
    vertical-align: center;
    margin-bottom: 50px;
}

    .import-section p {
        margin: 5px 0;
        font-size: 14px;
    }

#import-section label {
    margin-right: 10px;
    font-size: 16px;
}

#file-upload {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.upload-button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0ad4e;
    color: #fff;
}
