@page "/supervise"

<div class="supervise-header par-card">
    <h1>Supervise</h1>
    <p>NRS Appraisals</p>
    <br>
    <table style="font-size: 14px;">
        <tr>
            <td style="padding-right: 10px;padding-bottom: 7px;"><strong>Username:</strong></td>
            <td>ADEMOLA Patrick</td>
        </tr>
        <tr>
            <td style="padding-right: 10px;"><strong>Workplan Year:</strong></td>
            <td>
                <select>
                    <option value="2024">2024</option>
                </select>
            </td>
        </tr>
    </table>
</div>
<div class="supervise-content par-card">
    <div class="form-group">
        <p>ADEMOLA Patrick: Staff Supervisor</p>
    </div>
    <div class="appraisals-header">
        <h2>NRS 1-6 Appraisals - 2024</h2>
        <p>Click a link below to Switch to your Appraisee's Dashboard.</p>
    </div>
    <div class="appraisee-list">
        <p>Staff you supervise</p>
        <ul>
            <li><a href="#">Switch to, AUSTIN Matthew</a></li>
            <li><a href="#">Switch to, STEPHEN, Dele</a></li>
        </ul>
    </div>
</div>

@code {

}
