@page "/r4d-dashboard"

<div class="main-header">
    <div class="main-header-content">
        <div class="greeting">
            <h1>Good morning, Patrick</h1>
            <p><i class="fa-regular fa-bell"></i>   Your workplan is yet to <br /> be approved.</p>
        </div>
        <div class="time-info">
            <h2>11:40 AM</h2>
            <p>Tuesday, July 11</p>
        </div>
    </div>
    <div class="notice">
        Please take note: Database is refreshed every 24 hours. After updating your records in the other online systems, the changes will not immediately display in this application.
    </div>
</div>
<div class="actions">
    <h2>I would like to...</h2>
    <div class="action-items">
        <div class="action-item">
            <div class="icon"><i class="fa-solid fa-arrow-up-from-bracket"></i></div>
            <h3>Upload my Workplan</h3>
            <p>Submit my planned tasks and objectives for the appraisal period.</p>
        </div>
        <div class="action-item">
            <div class="icon"><i class="fa-solid fa-file-pen"></i></div>
            <h3>Manage my Appraisals</h3>
            <p>Review and update my appraisal details and add comments.</p>
        </div>
        <div class="action-item">
            <div class="icon"><i class="fa-solid fa-file-pdf"></i></div>
            <h3>View/Download PDFs</h3>
            <p>Access and download PDF copies of your workplans and appraisals.</p>
        </div>
        <div class="action-item">
            <div class="icon"><i class="fa-solid fa-list-check"></i></div>
            <h3>Manage Achievements</h3>
            <p>Record and update your accomplishments to reflect completed workplans.</p>
        </div>
    </div>
</div>
<div class="contact">
    <p><img src="assets/megaphone.svg" alt="" /> Please contact <a href="mailto:IITA-HR@cgiar.org">IITA-HR@cgiar.org</a> if appraiser information is missing or incorrect.</p>
    <div class="info-sections">
        <div class="info-section">
            <h3>Your Account Info</h3>
            <div class="labels" style="display: inline-block;width: 50%;">
                <p><strong>Username:</strong></p>
                <p><strong>Registered e-mail address:</strong></p>
                <p><strong>Last name:</strong></p>
                <p><strong>First name:</strong></p>
                <p><strong>Staff ID:</strong></p>
            </div><div class="values" style="display: inline-block;width: 50%;">
                <p>ADEMOLA Patrick</p>
                <p>adepatrick@cgiar.org</p>
                <p>ADEMOLA</p>
                <p>Patrick</p>
                <p>E3ADEPAT</p>
            </div>
        </div>
        <div class="info-section">
            <h3>Supervising</h3>
            <p>You are viewing your own records.</p>
            <p><a href="#">Go to list of scientists you supervise</a></p>
            <p><a href="#">Go to list of irs you supervise</a></p>
            <p><a href="#">Go to list of p4d you supervise</a></p>
        </div>
        <div class="info-section">
            <h3>Your Appraiser</h3>
            <p>• David, Smith</p>
        </div>
    </div>
</div>

<div class="section par-card" style="padding: 15px!important;">
    <h3>Annual Reports</h3>
    <p>Annual Reports displays data from ProMIS, TA, and other databases. To keep your data up-to-date, contact services responsible for those databases.</p>
    <div class="links-grid">
        <div>
            <h4>ProMIS</h4>
            <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Proposals</a></li>
                <li><a href="#">CN</a></li>
            </ul>
        </div>
        <div>
            <h4>Other</h4>
            <ul>
                <li><a href="#">Workplan report</a></li>
                <li><a href="#">Travel</a></li>
                <li><a href="#">Cost centers</a></li>
                <li><a href="#">Additional!</a></li>
            </ul>
        </div>
        <div>
            <h4>Bibliography</h4>
            <ul>
                <li><a href="#">Bib</a></li>
                <li><a href="#">Pre-bib</a></li>
            </ul>
        </div>
        <div>
            <h4>Training</h4>
            <ul>
                <li><a href="#">Trainees</a></li>
                <li><a href="#">Training Program</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="section par-card">
    <h3>Annual Workplans</h3>
    <ul>
        <li><a href="#">R4D Workplan</a></li>
    </ul>
</div>

@code {

}
