header {
    background-color: #d4b457;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    header h1 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }

    header p {
        margin: 0;
    }

.form-group {
    margin: 20px 0;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 120px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    margin: 20px 0 0 100px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #ccc;
    }
