@page "/query-api"

<header>
    <h1>IITA Staff CKAN DOI API</h1>
    <p>Welcome, Omotayo Okoh</p>
</header>

<div class="form-group">
    <label for="staff-email">Staff Email:</label>
    <input type="text" id="staff-email" name="staff-email">
</div>

<div class="form-group">
    <label for="year">Year:</label>
    <input type="text" id="year" name="year" value="2024">
</div>

<button type="button">Query API</button>

@code {

}
